
.carousel-item {
    height: 100vh; /* 与窗口高度一致 */
    width: 100vw; /* 与窗口宽度一致 */
    min-height: 400px;
    position: relative;
    overflow: hidden; /* 确保图片不会溢出 */
  }
  .news-more-link {
    width: 100%;
    margin: auto;
  }
  .news-more-link a {
    width: 100%;
  }
  /* 让图片宽度与窗口一致，高度与窗口一致，显示上半部分 */
  .carousel-item img {
    object-fit: cover;
    object-position: top; /* 显示图片上半部分 */
    height: 100vh;
    width: 100vw;
    transition: transform 0.5s ease;
    border-radius: 0; /* 去掉圆角以填满整个窗口 */
  }
  /* 悬停放大图片 */
  .carousel-item img:hover {
    transform: scale(1.05);
  }
  /* 文字区域居中 */
  .carousel-caption {
    /* background-color: rgba(0, 0, 0, 0.4); 让文字更明显 */
    border-radius: 5px;
    padding: 10px;

    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }
  /* 设置文字样式及悬停放大效果 */
  .carousel-caption h1,
  .carousel-caption h4,
  .carousel-caption p {
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease;
    font-weight: bold;
  }
  .carousel-caption h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  .carousel-caption p {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1rem;
  }
  .carousel-caption:hover h1,
  .carousel-caption:hover h4,
  .carousel-caption:hover p {
    transform: scale(1.1);
  }

  .card-title {
    font-family: "Georgia", serif; 
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 8px;
  }

  .card-text {
    font-family: "Arial", sans-serif; 
    font-size: 1rem; 
    line-height: 1.6; 
    color: #555; 
  }
  
  /* Meet the Team 部分的样式 */
  .meet-team-section {
    background: #f8f9fa;
    padding: 100px 0; 
    text-align: center;
  }